ion-content {
  background: linear-gradient(to right, #ffafbd, #ffc3a0);
}
h2 {
  color: #6136af;
  text-align: center;
}

p {
  color: black;
  text-align: justify;
}

h3 {
  color: chocolate;
}

ion-item {
  background: #cac6c6;
}